.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 5%;
}

.greetingMessage {
  padding-top: 20px;
  margin: auto;
  font-weight: bold;
  color: green;
}

.massageWrapper {
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 45%;
}
